// Copyright (c) Brian Reichle.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
<#@template language="C#" #>
<#@output extension=".g.cs" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\Utils\TypeReferences.t4" #>
using System;
using WAYWF.Agent.CorDebugApi;

namespace WAYWF.Agent
{
	partial class ValueExtensions
	{
<#

foreach (var type in knownValueTypes)
{
	string shortName;

	if (!shortNameLookup.TryGetValue(type, out shortName))
	{
		shortName = type.Name;
	}

#>
		public static unsafe <#=shortName#> Get<#=type.Name#>(this ICorDebugGenericValue value)
		{
			if (value.GetSize() != sizeof(<#=shortName#>)) throw new ArgumentException("size mismatch");

			<#=shortName#> tmp;
			value.GetValue((IntPtr)(&tmp));
			return tmp;
		}
<#
}
#>
	}
}
