[*.cs]

# CA1419: Provide a parameterless constructor that is as visible as the containing type for concrete types derived from 'System.Runtime.InteropServices.SafeHandle'
dotnet_diagnostic.CA1419.severity = warning

# CA1859: Use concrete types when possible for improved performance
# Breaks encapsulation.
dotnet_diagnostic.CA1859.severity = none

# CA2263: Prefer generic overload when type is known
dotnet_diagnostic.CA2263.severity = warning

# IDE0040: Add accessibility modifiers
# This directly contradicts our coding conventions.
dotnet_diagnostic.IDE0040.severity = none

# IDE0130: Namespace does not match folder structure
# Matching the namespace to folder structure is too restrictive and unnecessary.
dotnet_diagnostic.IDE0130.severity = none

# SA0001: Xml comment analysis disabled
# We are not producing an externally consumable library
dotnet_diagnostic.SA0001.severity = none

# SA1101: Prefix local calls with this
# We don't use `this.` unless it's needed to resolve ambiguity.
dotnet_diagnostic.SA1101.severity = none

# SA1201: Elements should appear in the correct order
# Fields should be near the end of the containing type
# (just before any nested types).
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
# Going to hold off on enforcing any particular element ordering for now.
dotnet_diagnostic.SA1202.severity = none

# SA1204: Static elements should appear before instance elements
# Going to hold off on enforcing any particular element ordering for now.
dotnet_diagnostic.SA1204.severity = none

# SA1205: Partial elements should declare access
# This directly contradicts our coding conventions.
dotnet_diagnostic.SA1205.severity = none

# SA1214: Readonly fields should appear before non-readonly fields
# TODO: FIX
dotnet_diagnostic.SA1214.severity = none

# SA1307: Accessible fields should begin with upper-case letter
# TODO: FIX
dotnet_diagnostic.SA1307.severity = none

# SA1309: Field names should not begin with underscore
# This directly contradicts our coding conventions.
dotnet_diagnostic.SA1309.severity = none

# SA1310: Field names should not contain underscore
# We have a lot of native interop code. Such code should try to match names from
# the native definitions and that often contains underscores.
dotnet_diagnostic.SA1310.severity = none

# SA1400: Access modifier must be declared
# This rule contradicts our coding convention of NOT specifying access modifiers
# when it would be the default.
dotnet_diagnostic.SA1400.severity = none

# SA1401: Fields should be private
# TODO: FIX
dotnet_diagnostic.SA1401.severity = none

# SA1407: Arithmetic expressions should declare precedence
# arithmetic precedence is well defined in mathematics,
# far better than for other operators in C#. So saying that
# arithmetic expressions need parentheses while those other
# expressions dont (SA1119) is ridiculous.
dotnet_diagnostic.SA1407.severity = none

# SA1512: Single-line comments should not be followed by blank line
# Removing the blank line can imply an association that isn't always
# appropriate.
dotnet_diagnostic.SA1512.severity = none

# SA1516: Elements must be separated by blank line
# This would be a good rule if it gave an exemption
# for single-line members.
dotnet_diagnostic.SA1516.severity = none

# SX1309: Field names must begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SX1309S: Static field names must begin with underscore
dotnet_diagnostic.SX1309S.severity = warning
