[*.cs]

# CA1419: Provide a parameterless constructor that is as visible as the containing type for concrete types derived from 'System.Runtime.InteropServices.SafeHandle'
dotnet_diagnostic.CA1419.severity = warning

# CA1859: Use concrete types when possible for improved performance
# Breaks encapsulation.
dotnet_diagnostic.CA1859.severity = none

# CA2263: Prefer generic overload when type is known
dotnet_diagnostic.CA2263.severity = warning

# IDE0130: Namespace does not match folder structure
# Matching the namespace to folder structure is too restrictive and unnecessary.
dotnet_diagnostic.IDE0130.severity = none
